{% comment %}
  Metaobjects must be published to the Online Store if you want to access them via Storefront API or Liquid.
  If you have metaobjects published in your store, you can access them via shop.metaobjects in Liquid
  If you want to link metaobjects to products, you need to create a metaobject reference field in product metafields.
{% endcomment %}

<section class="designer">
  {% assign fashion_designers = shop.metaobjects.fashion_designer.values %}
  {% for designer in fashion_designers %}
    <div class="designer">
      <img src="{{ designer.profile_image | img_url: '500x' }}" alt="{{ designer.name }}">
      <h2>{{ designer.name }}</h2>
      <p>{{ designer.bio }}</p>
      <a href="{{ designer.website }}" target="_blank">Visit Website</a>
      <p>{{ designer.country }}</p>
    </div>
  {% endfor %}
</section>
{% schema %}
{
  "name": "Fashion designer",
  "settings": [],
  "presets": [
    {
      "name": "Fashion designer"
    }
  ]
}
{% endschema %}
